.container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  padding: 1vw;
  height: 95vh;
  width: 90vw;
  justify-content: center;
  overflow: clip;
}

.left-container {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.chat-feed-wrapper {
  flex: 2;
  overflow: scroll;
  overflow-x: clip;
}
