.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 1vw;
}

.left-container {
  display: flex;
  padding: 1vw;
  flex-grow: 1;
}

.right-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2vw;
  flex-grow: 2;
  align-items: center;
}

